[submodule "Stinky"]
	path = Stinky
	url = https://github.com/sadmat/Stinky.git
[submodule "TwoOhFourEightCore"]
	path = TwoOhFourEightCore
	url = https://github.com/sadmat/TwoOhFourEightCore.git
[submodule "Bastard"]
	path = Bastard
	url = https://github.com/sadmat/Bastard.git
