[submodule "Game2048Core"]
	path = modules/Game2048Core
	url = https://github.com/sadmat/TwoOhFourEightCore.git
	branch = master
[submodule "NeuralNetwork"]
	path = modules/NeuralNetwork
	url = https://github.com/sadmat/NeuralNetwork.git
	branch = master
